<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>DASHMIN - Bootstrap Admin Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet">
    
    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{{ url_for('static', filename='lib/owlcarousel/assets/owl.carousel.min.css') }}" rel="stylesheet">
    <!-- <link href="{{ url_for('static', filename='lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css') }}" rel="stylesheet" /> -->

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

    
    <link href="{{ url_for('static', filename='cms/plugins/sweetalert/sweetalert.css') }}" rel="stylesheet">
</head>

<body>
    <div class="container-fluid position-relative bg-white d-flex p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->


        <!-- Sign In Start -->
        <div class="container-fluid">
            <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
                <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
                    <div class="bg-light rounded p-4 p-sm-5 my-4 mx-3">
                        <div class="d-flex align-items-center justify-content-between mb-3">
                            <a href="/" class="">
                                <h3 class="text-primary"><i class="fa fa-hashtag me-2"></i>Stock Web</h3>
                            </a>
                            <h3>Sign In</h3>
                        </div>
                        <form id="form1">
                            <div class="form-floating mb-3">
                                <input type="email" class="form-control" id="floatingInput" name="Account" placeholder="Login Account">
                                <label for="floatingInput">Account</label>
                            </div>
                            <div class="form-floating mb-4">
                                <input type="password" class="form-control" id="floatingPassword" name="Password" placeholder="Login Password">
                                <label for="floatingPassword">Password</label>
                            </div>
                            <!-- <div class="d-flex align-items-center justify-content-between mb-4">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                                </div>
                                <a href="">Forgot Password</a>
                            </div> -->
                            <button type="button" class="btn btn-primary py-3 w-100 mb-4" id="BtnLogIn">Sign In</button>
                            <!-- <p class="text-center mb-0">Don't have an Account? <a href="">Sign Up</a></p> -->
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Sign In End -->
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <!-- <script src="{{ url_for('static', filename='lib/chart/chart.min.js') }}"></script> -->
    <!-- <script src="{{ url_for('static', filename='lib/easing/easing.min.js') }}"></script> -->
    <script src="{{ url_for('static', filename='lib/waypoints/waypoints.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/owlcarousel/owl.carousel.min.js') }}"></script>
    <!-- <script src="{{ url_for('static', filename='lib/tempusdominus/js/moment.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/tempusdominus/js/moment-timezone.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js') }}"></script> -->

    <!-- Template Javascript -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>


    <script src="{{ url_for('static', filename='cms/plugins/jquery-validation-1.19.5/jquery.validate.js') }}"></script>
    <script src="{{ url_for('static', filename='cms/plugins/sweetalert/sweetalert.min.js') }}"></script>

    <script>
        $(document).ready(function () {
            $('#form1').validate({
                errorPlacement: function (error, element) {
                    $(element)
                        .closest("form")
                        .find("label[for='" + element.attr("id") + "']")
                        .append(error);
                },
            });

            $('#BtnLogIn').click(function () {
                SubmitForm('form1');
            });
        });

        function SubmitForm(fomrId) {
            var formData = new FormData($('#' + fomrId)[0]);
            $.ajax({
                type: 'POST',
                url: '{{ url_for("in_At_log_At_cms")|safe }}',
                data: formData,
                dataType: "json",
                cache: false,
                processData: false,
                contentType: false,
                error: function (xhr) {
                    console.log(xhr);
                    if (xhr.Message == undefined) {
                        swal("錯誤", '操作錯誤！', 'error');
                    }
                    else {
                        swal("錯誤", xhr.Message, 'error');
                    }
                },
                // beforeSend: function (xhr) {
                //     xhr.setRequestHeader("requestverificationtoken",
                //         $('#' + fomrId + ' input:hidden[name="__RequestVerificationToken"]').val());
                // },
                success: function (data) {
                    if (data.result) {
                        location.href = '{{ url_for("index_At_home_At_cms")|safe }}';
                    } else {
                        if (data.fields_err_msg != null && Object.keys(data.fields_err_msg).length > 0) {
                            _arr = data.fields_err_msg;
                            var msg = '';
                            $.each(data.fields_err_msg, function (seq, obj) {
                                msg += obj + "\n";
                            });
                            $('[name=' + Object.keys(data.fields_err_msg)[0] + ']').focus().blur();

                            var validator = $('#form1').validate();
                            validator.showErrors(data.fields_err_msg);
                            swal("錯誤", msg, 'warning');
                        } else {
                            swal("錯誤", data.msg, 'error');
                        }
                    }
                }
            });
        }
    </script>
</body>

</html>