
        <!-- JavaScript Libraries -->
        <script src="{{ url_for('static', filename='cms/js/jquery-3.4.1.min.js') }}"></script>
        <script src="{{ url_for('static', filename='cms/js/bootstrap.bundle.min.js') }}"></script>
        <!-- <script src="lib/chart/chart.min.js"></script> -->
        <script src="{{ url_for('static', filename='cms/lib/easing/easing.min.js') }}"></script>
        <script src="{{ url_for('static', filename='cms/lib/waypoints/waypoints.min.js') }}"></script>
        <!-- <script src="lib/owlcarousel/owl.carousel.min.js"></script> -->
        <!-- <script src="lib/tempusdominus/js/moment.min.js"></script> -->
        <!-- <script src="lib/tempusdominus/js/moment-timezone.min.js"></script> -->
        <!-- <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script> -->
        <script src="{{ url_for('static', filename='cms/plugins/jquery-validation-1.19.5/jquery.validate.min.js') }}"></script>
        
        <script src="{{ url_for('static', filename='cms/plugins/bootstrap-datepicker-1.9.0/js/bootstrap-datepicker.js') }}"></script>
        <script src="{{ url_for('static', filename='cms/plugins/bootstrap-datepicker-1.9.0/locales/bootstrap-datepicker.zh-TW.min.js') }}"></script>

        <!-- Template Javascript -->
        <script src="{{ url_for('static', filename='cms/js/main.js') }}"></script>

        <script src="{{ url_for('static', filename='cms/js/js.js') }}"></script>
        