
        <meta name="robots" content="noindex,nofollow">
        <meta name="googlebot" content="noindex,nofollow">
        

        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <title>webTitle</title>
        <meta content="" name="keywords">
        <meta content="" name="description">

        <!-- Favicon -->
        <link href="img/favicon.ico" rel="icon">
        
        <!-- Google Web Fonts -->
        <link href="{{ url_for('static', filename='cms/css/google_fonts.css') }}" rel="stylesheet">
        
        <!-- Icon Font Stylesheet -->
        <link href="{{ url_for('static', filename='cms/css/font-awesome5.10.0.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='cms/css/bootstrap-icons1.4.1.css') }}" rel="stylesheet">

        <!-- Libraries Stylesheet -->
        <link href="{{ url_for('static', filename='cms/lib/owlcarousel/assets/owl.carousel.min.css') }}" rel="stylesheet">
        {# <link href="{{ url_for('static', filename='cms/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" /> #}

        <!-- Customized Bootstrap Stylesheet -->
        <link href="{{ url_for('static', filename='cms/css/bootstrap.min.css') }}" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="{{ url_for('static', filename='cms/css/style.css') }}" rel="stylesheet">
        
        <link href="{{ url_for('static', filename='cms/plugins/bootstrap-datepicker-1.9.0/css/bootstrap-datepicker.css') }}" rel="stylesheet">
        
        <!-- DataTables -->
        <link href="{{ url_for('static', filename='cms/plugins/datatables/dataTables.css') }}" rel="stylesheet">

        <link href="{{ url_for('static', filename='cms/plugins/sweetalert/sweetalert.css') }}" rel="stylesheet">

        <style type="text/css" lang="scss">
            :root {
                --primary: #FFFFFF;
                --light: #AAA;
                --normal-font-color: #DDD;
                --normal-bg-color: #191C24;
            }

            body {
                color: var(--normal-font-color);
            }

            .border {
                border: 1px solid #666 !important;
            }

            a {
                color: #AAA;
                text-decoration: none;
            }

            a:hover{
                color: #FFF;
            }

            .btn-secondary {
                color: #fff;
                background-color: #333;
                border-color: #333;
            }

            .table {
                --bs-table-bg: rgba(0,0,0,0);
                --bs-table-striped-color: var(--normal-font-color);
                --bs-table-striped-bg: rgba(0,0,0,0.05);
                --bs-table-active-color: var(--normal-font-color);
                --bs-table-active-bg: rgba(0,0,0,0.1);
                --bs-table-hover-color: var(--normal-font-color);
                --bs-table-hover-bg: rgba(150,150,150,0.2);
                width: 100%;
                margin-bottom: 1rem;
                color: var(--normal-font-color);
                vertical-align: top;
                border-color: #000;
            }
            
            .modal-content {
                background-color: var(--normal-bg-color);
            }

            .btn-close {
                background-color: #666;
            }

            .card-header {
                background-color: rgba(0,0,0,0.35);
            }

            label.error {
                font-size: 12px;
                color: red;
            }

            .text-right {
                text-align: right;
            }

            .dataTables_paginate .pagination {
                flex-direction: row-reverse
            }

            .form-control:disabled, .form-control:read-only {
                opacity: .7 !important;
            }
        </style>